<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>791446589269-jkuchviqe88g7d8cfk2s8vjcsk667n7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791446589269-jkuchviqe88g7d8cfk2s8vjcsk667n7l</string>
	<key>API_KEY</key>
	<string>AIzaSyDNcBo3VzQafbawrLOlLgXLs2jLoU2L8BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>791446589269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pbw.Timeline</string>
	<key>PROJECT_ID</key>
	<string>timeline-40103</string>
	<key>STORAGE_BUCKET</key>
	<string>timeline-40103.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:791446589269:ios:be9f15631dfd1c6a</string>
	<key>DATABASE_URL</key>
	<string>https://timeline-40103.firebaseio.com</string>
</dict>
</plist>